// Colores
$rojo: red;
$gris: #d8d9dd;
$negro: black;

// Fuentes
$fuentep: 'Roboto', sans-serif;


// Tamaños de fuente
$tsizexl: 80px;
$tsizelg: 60px;
$tsizemd: 30px;
$tsizesm: 20px;
$tsize: 16px;


// Font weights
$fb:700;
$fl:300;
$fr:400;
$fm:500;

// Sombra
$sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


// tamaños 
$lgh: 400px;
$smh: 200px;

// Links
$limg: "../img/";

 